/* CSS Reset - Baseado no método de Josh Comeau */
@import './variables.css';

/* Remove margens e paddings padrão */
* {
	margin: 0;
	padding: 0;
}

/* Melhora a tipografia e herança de fontes */
html {
	font-size: 100%; /* 16px padrão */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html, body {
    height: 100%; /* Ocupa toda a altura da tela */
    margin: 0;    /* Remove qualquer margin */
    display: flex; /* Faz com que o body use flexbox */
    flex-direction: column; /* Organiza os elementos em coluna */
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o root ocupe a altura total da página */
}

main {
    flex: 1; /* O conteúdo principal ocupa o espaço restante */
}

/* Remove estilos padrão de listas */
ul,
ol {
	list-style: none;
}

/* Remove estilos padrão de links */
a {
	text-decoration: none;
	color: inherit;
}

/* Garantindo que os botões e inputs tenham um design mais consistente */
button,
input,
textarea,
select {
	font: inherit;
	background: none;
	border: none;
	outline: none;
}

/* Melhora a acessibilidade e foco */
button {
	cursor: pointer;
}

/* Define imagens e vídeos para serem responsivos */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* Remove a animação do sistema para usuários que preferem */
@media (prefers-reduced-motion: reduce) {
	* {
		animation: none !important;
		transition: none !important;
		scroll-behavior: auto !important;
	}
}
